/*
  VARIABLES DECLARATION ON ROOT
*/

:root {
    --dark-tone: #241d15;
    --mid-tone: #d4bc9b;
    --light-tone: #e6ccaa;
}

/*
    COMMON STYLING
*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--mid-tone);
    color: var(--dark-tone);
}


/* Intro section - headings (2) */
h1 {
    padding:5px;
    margin-left: 50px;
}

#Sign-up-message {
    margin-top: 200px;
    max-width: 1300px;
}

#you-know-want-to {
    padding-top: 30px;
    margin-bottom: 70px;
}

#lets-do-this {
    margin-left: 18px;
}


/* Form container (Fieldset) */
fieldset {
    background-color: var(--light-tone);
    padding: 1em 2em 2em;
    border: solid 1ps #ccc;
    border-radius: 6px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}


/* Labels and input */

label {
    display: block;
    margin-top: 2em;
    letter-spacing: .05em;
}

input{
    display: block;
    padding: .5em;
    border: solid 1px #999;
    width: 20em;
    margin-bottom: 1.2em;
}


/* Submit Button */
input[type="submit"] {
    margin: 55px 0px 35px 50px;
    width: 230px;
    height: 55px;
    border-radius: 6px;
    background-color: #1c150b;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}


.LEFT {
    margin-right: 55px;
}

#log-in {
    margin-left: 50px;
}