/* VARIABLES DECLARATION ON ROOT */

:root {
    --dark-tone: #241d15;
    --mid-tone: #f5ead7;
    --light-tone: #fff6e6;
    --high-light: #af8b4d;
}


/* COMMON STYLING */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main {
    height: 100%;
    display: flex;
    flex: 1;
    margin: 0;
    padding:0;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--mid-tone);
    color: var(--dark-tone);
}

.image-block,
.form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding:0;
}



/* Image Section */
.image-block {
    flex: 4.5;
    justify-content: flex-start;
    background: url(images/cinnamon-rollLG.jpg) no-repeat center;
    max-width: 900px;
}

.sweet-stuff {
    color:#fff;
    font-size: 4em;
}

.logo-container {
    position: relative;
    top: 445px;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.404);
}


/* Form Section */
.form-block {
    flex: 1;
    width: 100%;
}



/* Intro section - headings (2) */
h1 {
    padding:5px;
    margin-left: 50px;
}

#Sign-up-message {
    margin-top: 250px;
    max-width: 1300px;
}

#you-know-want-to {
    padding-top: 30px;
    margin-bottom: 70px;
}

#lets-do-this {
    margin-left: 18px;
    margin-bottom: 15px;
}



/* Form container (Fieldset) */
fieldset {
    background-color: var(--light-tone);
    padding: 1em 2em 2em;
    border: none;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    box-shadow:0px 10px 25px -10px rgba(0,0,0, .10);
}



/* Labels and input */

label {
    display: block;
    letter-spacing: .05em;
}

input{
    display: block;
    padding: .5em;
    border: solid 1px #999;
    border-radius: 3px;
    max-width: 250px;
    min-width: 250px;
    max-height: 15px;
    min-height: 15px;
    background-color: var(--light-tone);
    margin-bottom: 20px;
    margin-right: 20px;
}



/* Submit Button */
button {
    display: block;
    margin: 55px 0px 35px 50px;
    width: 230px;
    height: 55px;
    border-radius: 6px;
    background-color: #1c150b;
    color: #fff;
    font-size: 1.2em ;
    box-shadow: 5px 5px 4px -2px rgba(0,0,0, .15);
}



/* General Syling */
.names, .email-phone, .passwords{
    display: flex;
    flex:1;
    flex-wrap: wrap;
}

.password-test{
    position: relative;
}

#log-in {
    margin-left: 50px;
}

a {
    color: var(--dark-tone);
    text-decoration: none;
}

#user_password{
    margin-bottom: 0px;
}

#input-hint{
    margin-bottom: 20px;
}



/* Interactions with user */

input:hover {
    box-shadow: 5px 5px 4px -3px rgba(0,0,0, .15);
    background-color: #fffcf7;
}

input:focus {
    box-shadow: 5px 5px 4px -3px rgba(0,0,0, .15);
    background-color: #fffcf7;
}

button:hover {
    background-color: var(--high-light);
}

a:hover{
    color: var(--high-light);
}

#user_password, #confirm_password{
    border-color: red;
}

#input-hint {
    color: red;
}